<div class="form-group">
    <input type="text" class="form-control" placeholder="Search by either First Name, Surname or Telephone number"
           style="width:500px" [(ngModel)]="searchTerm"/>
</div>
<br />
<table>
    <thead>
        <tr>
            <th>Contact ID</th>
            <th>First Name</th>
            <th>Surname</th>
            <th>Tel</th>
            <th>Cell</th>
            <th>Email</th>
            <th>Updated Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody *ngIf="contacts">
        <tr *ngFor="let contactIndex of contacts | contactsFilter:searchTerm">
            <td><a [routerLink]="['/contacts', contactIndex.ID]">{{contactIndex.ID}}</a></td>
            <td>{{contactIndex.FirstName}}</td>
            <td>{{contactIndex.Surname}}</td>
            <td>{{contactIndex.Tel}}</td>
            <td>{{contactIndex.Cell}}</td>
            <td>{{contactIndex.Email}}</td>
            <td>{{contactIndex.UpdatedDate}}</td>
            <td>
                <button class="btn btn-primary" [routerLink]="['/contacts', contactIndex.ID]">View</button>&nbsp;
                <button class="btn btn-primary" [routerLink]="['/contacts', contactIndex.ID]">Update</button>&nbsp;
                <button class="btn btn-danger" [routerLink]="['/contacts', contactIndex.ID]">Delete</button>
            </td>
        </tr>
        <tr *ngIf="!contacts">
            <td colspan="7">
                <h2 style="color:cadetblue">{{statusMessage}}</h2>
            </td>
        </tr>
        <tr *ngIf="!contacts && contacts.length==0">
            <td colspan="7">No contacts data to display</td>
        </tr>
    </tbody>
</table>
<div style="margin-top: 5px">
    <input type="button"
           class="btn btn-primary"
           value="Create New Contact"
           (click)="createNewContactButtonClick()" />
</div>


